HAXBALL_TOKEN=
HAXBALL_ROOM_NAME=
HAXBALL_MAX_PLAYERS=14
HAXBALL_SCORE_LIMIT=3
HAXBALL_TIME_LIMIT=4
HAXBALL_PROMOTION_COUNT=4
HAXBALL_PUBLIC=1
HAXBALL_ADMIN_PASSWORD=

CONFIG_ADMIN_CAN_BAN=1
CONFIG_ADMIN_CAN_GIVE_ADMIN=0
CONFIG_ALLOW_MULTIPLE_JOIN=0

# --- Yapay zeka bot ---
HAXBALL_BOT_NAME=SpaceBot
HAXBALL_BOT_NAMES=Salah,Skriniar,Osimhen,Trossard,Messi,Ronaldo,Hakimi,Kimmich
HAXBALL_BOT_MAX=8
HAXBALL_BOT_AVATAR=🤖
HAXBALL_BOT_AUTOSTART=4